h1 {
    font-weight: bold; /* Chữ đậm */
    color: rgb(0, 60, 255); /* Màu xanh */
    font-family: Arial, sans-serif; /* Font Arial */
    font-size: 18pt; /* Cỡ chữ 18pt */
  }
  table {
    width: 40%;
    border-collapse: collapse;
}

th, td {
    font-style: italic; /* Chữ nghiêng */
    color: purple; /* Màu tím */
    font-family: Arial, sans-serif; /* Font Arial */
    font-size: 14pt; /* Cỡ chữ 14pt */
    border: 1px solid black;
    padding: 2px;
}

th {
    background-color: #ff000000; /* Màu nền cho tiêu đề bảng */
}
  a {
    font-style: italic; /* Chữ nghiêng */
    text-decoration: none; /* Không gạch chân */
    color: green; /* Màu xanh lá cây */
  }
  p {
    font-style: italic;
    color: purple;
    font-family: Arial, sans-serif;
    font-size: 14pt;
  }